# Условия

In [2]:
# name = 'Bob'
name = 'Robert'

if len(name) < 5:
    print(f'Hi, {name}')
else:
    print(f'Hello, Mr {name}')

Hello, Mr Robert

Симулятор студента.
Для студента есть четыре количества: один, два, три и много

In [8]:
user_input = int(input('your number: '))

if user_input == 1:
    print('One')
elif user_input == 2:
    print('Two')
elif user_input == 3:
    print('Three')
else:
    print('Many')

Two

Вложенные условия

In [17]:
user_input = input('your number: ')

if user_input.isnumeric():
    user_input = int(user_input)
    if user_input == 1:
        print('One')
    elif user_input == 2:
        print('Two')
    elif user_input == 3:
        print('Three')
    else:
        print('Many')
else:
    print('Enter a number please')

Enter a number please

Много уровней вложенности

In [20]:
user_input = input('your number: ')

if user_input.isnumeric():
    user_input = int(user_input)
    if user_input == 1:
        print('One')
    elif user_input == 2:
        print('Two')
    elif user_input == 3:
        print('Three')
    else:
        if user_input < 100:
            if user_input < 50:
                print('small many')
            else:
                print('Many')
        else:
            print('Too many')
else:
    print('Enter a number please')

Many

# Loops - циклы

### for loop - Цикл for

In [22]:
names = ['John', 'Tim', 'James', 'Bob', 'Jim', 'Bill', 'Tom']
print(names)
print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])
print(names[5])

['John', 'Tim', 'James', 'Bob', 'Jim', 'Bill', 'Tom']
John
Tim
James
Bob
Jim
Bill

In [23]:
names = ['John', 'Tim', 'James', 'Bob', 'Jim', 'Bill']

for name in names:
    print(name)

print('the end')

John
Tim
James
Bob
Jim
Bill
the end

In [29]:
names = input('Enter names divided by space:')
print(names)
names = names.split()
print(names)

for name in names:
    print(name)

print('the end')

Tim James Jim Tom Bob
['Tim', 'James', 'Jim', 'Tom', 'Bob']
Tim
James
Jim
Tom
Bob
the end

In [30]:
names = input('Enter names divided by space:')
names = names.split()

for name in names:
    if len(name) < 4:
        print(f'Hi, {name}')
    else:
        print(f'Hello, Mr.{name}')

print('the end')

Hi, Tim
Hello, Mr.James
Hi, Jim
Hi, Tom
Hi, Bob
the end

In [33]:
names = input('Enter names divided by space:')
names = names.split()

mrs = []
for name in names:
    if len(name) < 4:
        print(f'Hi, {name}')
    else:
        mrs.append(name)

for mr in mrs:
    print(f'Hello, Mr.{mr}')

print('the end')

Hi, Tim
Hi, Jim
Hi, Tom
Hi, Bob
Hello, Mr.James
Hello, Mr.Robert
the end

In [34]:
names = ('John', 'Tim', 'James', 'Bob', 'Jim', 'Bill')

for name in names:
    print(name)

print('the end')

John
Tim
James
Bob
Jim
Bill
the end

In [35]:
names = {'John', 'Tim', 'James', 'Bob', 'Jim', 'Bill'}

for name in names:
    print(name)

print('the end')

Bob
John
Tim
James
Jim
Bill
the end

In [36]:
persons = {'John': 132, 'Tom': 167, 'James': 234}

for person in persons:
    print(person)

John
Tom
James

In [37]:
persons = {'John': 132, 'Tom': 167, 'James': 234}

for person in persons:
    print(persons[person])

132
167
234

In [38]:
persons = {'John': 132, 'Tom': 167, 'James': 234}

for person in persons:
    print(f'{person}: {persons[person]}')

John: 132
Tom: 167
James: 234

In [40]:
persons = {'John': 132, 'Tom': 167, 'James': 234}

print(persons.keys())
for key in persons.keys():
    print(key)

dict_keys(['John', 'Tom', 'James'])
John
Tom
James

In [42]:
persons = {'John': 132, 'Tom': 167, 'James': 234}

print(persons.values())

for value in persons.values():
    print(value)

dict_values([132, 167, 234])
132
167
234

In [46]:
persons = {'John': 132, 'Tom': 167, 'James': 234}

print(persons.items())

for name, height in persons.items():
    # name, height = person
    print(f'{name}: {height}')

dict_items([('John', 132), ('Tom', 167), ('James', 234)])
John: 132
Tom: 167
James: 234

In [47]:
persons = {'John': 132, 'Tom': 167, 'James': 234}

print(persons.items())

for name, height in persons.items():
    if height < 200:
        print(f'Hi, {name}')
    else:
        print(f'Hello, Sir {name}')

dict_items([('John', 132), ('Tom', 167), ('James', 234)])
Hi, John
Hi, Tom
Hello, Sir James

In [48]:
values = [[1, 2, 3, 4], [2, 5, 6, 8], [4, 7, 8, 3]]

for first, second, third, fourth in values:
    print(third)

3
6
8